
/* General and keyframes */

    :root{
    --primary: rgba(77,149,89,1);
    --secondary: rgba(56,112,61,1);
    --tertiary: rgba(19,57,23,1);
    --white: #f4f4f4f4;
    --grey: #999595f4;
    background: linear-gradient(249deg, var(--primary) 0%, var(--secondary) 28.53%, var(--tertiary) 75.52%);
    }

    @keyframes slide {
        from {
        opacity: 0;
        transform: translateY(-20px);
        }
        to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        }
    }
    a{
        text-decoration: none;
        color: var(--white);
    }
    body{
        margin: 10px;
        color: var(--white);
        max-width: 1440px;
        font-family: 'Roboto', sans-serif;
    }
    
    /* HEADER: Logo and navbar */
    
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 25px;
        margin-top: 10px;
        animation: slide 2s 0s;
    }
    .logo{
        width: 70px;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
        height: 50px;
        font-size: 20px;  
    }
    .navBar > span{
        cursor: pointer;
        border-bottom: transparent 4px var(--white);
        font-weight: bold;
        padding-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        height: 25px;
    }
    .navBar > span:hover{
        border-bottom: solid;
        border-radius: 7px;
    }


/* Main container: bloc text and bloc image */

    main{
        display: flex;
        margin-left: 70px;
    }
    .intro{
        margin-top: 50px;
        width: 45%;
        animation: slide 2.5s 0.5s forwards;
        visibility: hidden;
    }
    h1{
        font-family: Permanent Marker;
        margin: 0;
        font-size: 100px;
    }
    h4{
        font-size: 20px;
        margin: 0;
    }
    h5{
        font-size: 18px;
        padding: 40px 0;
        margin: 0;
    }
    p{
        line-height: 5vh;
        padding: 40px 0 20px;
    }
    .goblinImage{
        animation: slide 3s 1s forwards;
        visibility: hidden;
        margin-top: 40px;
        > img{
            width: 100%;
        }
    }

/* Buttons config */
    .buttonSection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    button{
        border: solid 1px var(--white);
        border-radius: 25px;
        padding: 12px 25px 12px 20px;
        background-color: transparent;
        color: var(--white);
        cursor: pointer;
    }
    button:hover{
        border: none;
        background-color: var(--secondary);
        box-shadow: inset -2px 5px 7px rgb(0, 22, 0);
    }
    .buttons{
        font-size: 18px;
    }
    .watchButton{
        padding: 10px 25px 12px 15px;
    }
    .leftBanner{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -50px;
        top: 215px;
        height: 150px;
        width: 70px;
        justify-content: space-between;
    }
    .buttonContainer{
        width: 35px;
        height: 35px;
    }
    .leftButton{
        cursor: pointer;
    }
    .leftButton:hover{
        width: 35px;
        height: 35px;
    }
    .watchIcon{
        margin-top: 4px;
    }
    .lastButton{
        padding: 9px 10px 5px;
        background-color: transparent;
    }
    .lastButton:hover{
        background-color: var(--tertiary);
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
/* Responsive tablet */
@media (max-width: 1023px) {

/* Header */

    nav{
        font-size: 100%;
    }

/* Main Container */

    main{
        margin-top: 30px;
    }
    h1{
        font-size: 70px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 15px;
    }
    p{
        line-height: 4vh;
        padding: 40px 0 20px;
    }
    /* Buttons */
    .buttons{
        font-size: 13px;
    }
    button{
        padding: 9px 22px 9px 17px;
    }
    .watchButton{
        padding: 8px 20px 10px 12px;
    }
    .watchIcon{
        >svg{
            height: 15px;
            width: 15px;
        }
    }
}
/* Responsive mobile */

@media (max-width: 767px){
    
/* Header */
    main{
        margin: 0;
    }
    nav{
        width: 150px;
        margin: 20px 20px 0 0;
        margin-right: 20px;
    }
    .navBar{
        display: flex;
        border: transparent;
        border-radius: 5px;
        box-shadow: 2px -2px 8px var(--tertiary);
        margin-top: 10px;
        background: linear-gradient(188deg, var(--primary) 0%, var(--secondary) 28.53%, var(--tertiary) 75.52%);
        flex-wrap: wrap;
        flex-direction: column;
        transform-origin: top;
        visibility: hidden;
        transform: scaleY(0);
        transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
        >.navRadiusTop{
            border: transparent 1px;
            border-bottom: 1px solid var(--grey);
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding-bottom: 5px;
        }
        >.navRadiusBottom{
            border: transparent 1px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        >.navTable{
            border-bottom: solid 1px var(--grey);
            padding-bottom: 5px;
        }
        >*{
            font-weight: normal;
            font-size: 14px;
            justify-content: center;
            padding: 5px;
    
        }
    }
    .burgerIcon{
        display: flex;
        margin: 0 20% 0 auto;
        border: transparent 1px var(--tertiary);
        border-radius: 5px;
        box-shadow: 2px -2px 8px var(--tertiary);
        padding: 11px 9px 4px 11px;
        flex-wrap: wrap;
        flex-direction: column;
        cursor: pointer;
        width: 25px;
        > span{
            border-bottom: solid var(--white) 2px;
            margin-bottom: 7px;
            width: 22px;
        }
    }
    .burgerIcon:hover ~.navBar{
        z-index: 999;
        visibility: visible;
        transform: scaleY(1);
    }
/* Main Container */
    main{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .intro{
        width: 100%;
        margin: 0 2vw;
    }
    .goblinImage{
        width: 95%;
        margin-top: 20px;
    }

/* Buttons Config */
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .buttonSection{
        max-width: 400px;
        margin: 0 auto;
    }
    .watchIcon{
        margin-top: 2px;
    }
    .textButton{
        margin-top: 4px;
    }

/* left banner */

    .leftBanner{
        display: none;
    }

/* footer */

    footer{
        display: none;
    }
}




/* LOADER

.loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: linear-gradient(249deg, rgba(77,149,89,1) 0%, rgba(56,112,61,1) 28.53%, rgba(19,57,23,1) 75.52%);
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 250ms 2.1s forwards;
    transform-origin: top;
  }
  .loader::after {
    content: "";
    height: 130px;
    width: 130px;
    border-top: 4px solid rgba(77,149,89,1);
    border-bottom: 4px solid rgb(141, 204, 146);
    border-radius: 50%;
    box-shadow: inset 0 0 10px 5px rgb(2, 27, 6);
    animation: spin 0.7s linear;
    animation-iteration-count: 3;
  }

  @keyframes disappear {
    to {
      transform: scale(0);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }  
  */