/* General */
@keyframes slide {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
}
body{
    margin-top: 20px auto 0;
    color: white;
    max-width: 1440px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(249deg, rgba(77,149,89,1) 0%, rgba(56,112,61,1) 28.53%, rgba(19,57,23,1) 75.52%); 
}
.bold{
    font-weight: bold;
}
h1{
    font-family: Permanent Marker;
    margin: 0;
    font-size: 100px;
}
h4{
    font-size: 20px;
    margin: 0;
}
h5{
    font-size: 18px;
    margin: 10px 25px 0 0;
    margin: 20px 0 40px;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 25px ;
    margin: 10px 25px 40px 0;
    animation: slide 2s 0s;
}
.logo{
    margin-left: 20px;
    width: 80px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    font-size: 20px;
    margin-top: 20px;
}
nav > span{
    cursor: pointer;
}
nav > span:hover{
    border-bottom: solid 4px #f4f4f4f4;
    font-size: 25px;

}
button{
    border: solid 1px white;
    border-radius: 25px;
    padding: 12px 25px 12px 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
button:hover{
    border: none;
    background-color: rgba(56,112,61,1);
}

/* Main container */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.intro{
    margin-top: 80px;
    margin-left: 80px;
    width: 40vw;
    animation: slide 2.5s 0.5s forwards;
    visibility: hidden;
}
.buttons{
    margin:20px 10px;
    font-size: 18px;
}
.watchButton{
    padding: 10px 25px 12px 15px;
}
p{
    line-height: 5vh;
    margin: 40px 0 20px; 
}
.goblin{
    width: 45vw;
    margin-right: 30px;
    animation: slide 3s 1s forwards;
    visibility: hidden;}

.leftBanner{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -50px;
    bottom: 115px;
    height: 150px;
    justify-content: space-around;
}
.leftButton{
    cursor: pointer;
}
.leftButton:hover{
    width: 35px;
    height: 35px;
}
.lastButton{
    position: absolute;
    bottom: 25px;
    right: 10px;
    transition-property: transform;
    transition-duration: 1s;
    padding: 9px 10px 5px;
    background-color: transparent;
}
.lastButton:hover{
    background-color: rgba(19,57,23,1);
}

/* Responsive tablet */
@media (max-width: 1023px) {
    h1{
        font-size: 70px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 15px;
        margin-top: 50px;
    }
    nav{
        font-size: 100%;
    }
    p{
        margin: 30px 0 15px;
    }
}

/* Responsive mobile */
@media (max-width: 767px){

}




/* LOADER*/
/* .loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: linear-gradient(249deg, rgba(77,149,89,1) 0%, rgba(56,112,61,1) 28.53%, rgba(19,57,23,1) 75.52%); 
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 250ms 2.1s forwards;
    transform-origin: top;
  }
  .loader::after {
    content: "";
    height: 130px;
    width: 130px;
    border-top: 4px solid rgba(77,149,89,1);
    border-bottom: 4px solid rgb(141, 204, 146);
    border-radius: 50%;
    box-shadow: inset 0 0 10px 5px rgb(2, 27, 6);
    animation: spin 0.7s linear;
    animation-iteration-count: 3;
  }
  
  @keyframes disappear {
    to {
      transform: scale(0);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  } */